<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title>新增表具</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" th:href="@{https://www.jq22.com/jquery/bootstrap-4.2.1.css}">
    <link rel="stylesheet" th:src="@{../asset/css/dropify.min.css}">

    <!-- Core css -->
    <link rel="stylesheet" th:href="@{/assets/css/style.min.css}"/>
</head>

<body class="font-muli theme-cyan gradient">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">
    <!-- Start Main top header -->
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" th:href="@{/}"><i class="fa fa-graduation-cap brand-logo"></i></a>
            </div>
            <div class="hright">
                <a th:href="@{/}" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
            </div>
        </div>
    </div>
    <!-- Start Theme panel do not add in project -->
    <!-- Start Quick menu with more functio -->
    <!-- Start Main leftbar navigation -->
    <div id="left-sidebar" class="sidebar">
        <h5 class="brand-name">能控首页<a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">水务系统</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu-admin">Admin</a></li>
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li><a th:href="@{/basisposition/selectAll}"><i class="fa fa-black-tie"></i><span>楼栋管理</span></a></li>
                        <li><a th:href="@{/customer/imgIndex}"><i class="fa fa-user-circle-o"></i><span>数据可视化</span></a></li>
                        <li><a th:href="@{/customer/customerList}"><i class="fa fa-users"></i><span>所有用户信息</span></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-users"></i><span class="meter">硬件设置</span></a>
                            <ul class="meterList">
                                <li>
                                    <a th:href="@{/meter/index}">新建硬件</a>
                                </li>
                                <li>
                                    <a href="#">表具信息</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/basisposition/select}"><i class="fa fa-graduation-cap"></i><span>账单记录</span></a></li>
                        <li><a th:href="@{/customer/customerInfo}"><i class="fa fa-book"></i><span>个人用户信息</span></a></li>
                        <li><a href="holiday.html"><i class="fa fa-bullhorn"></i><span>介绍页面</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        <div class="section-body" id="page_top" >
            <div class="container-fluid">
            </div>
        </div>
        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">表具</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">新增表具</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="Transport-add">
            <div class="card">
                <!--新增水表-->
                <form class="card-body form-horizontal" th:action="@{/meter/addMeter}" method="post">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">表具IMEI号<span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="imei" name="imei"  onBlur = "check()"><div id="vaildata"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">表具状态<span class="text-danger">*</span></label>
                        <div class="form-group row">
                            <div class="col-md-7">
                                <input list="statusFlag" class="form-control" type="text" name="statusflag">
                                <datalist  id="statusFlag">
                                    <option class="col-md-3 col-form-label" value="1"  selected = "selected">使用中</option>
                                    <option class="col-md-3 col-form-label" value="2" >维修中</option>
                                    <option class="col-md-3 col-form-label" value="3">已关闭</option>
                                    <option class="col-md-3 col-form-label" value="4">故障中</option>
                                    <option class="col-md-3 col-form-label" value="5">已报废</option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">用途分类<span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <input list="useTypeCode" class="form-control" type="text" name="usetypecode">
                            <datalist  id="useTypeCode">
                                <option class="col-md-3 col-form-label" value="生活"></option>
                                <option class="col-md-3 col-form-label" value="灌溉"></option>
                                <option class="col-md-3 col-form-label" value="工业"></option>
                                <option class="col-md-3 col-form-label" value="公司"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"></label>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-primary" id="sumbit">提交</button>
                            <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/assets/js/lib.vendor.bundle.js"></script>
<script>
    function check() {
        var imei = $("#imei").val();
        $.ajax({
            url : "/api/isExit",
            data : {
                imei : imei
            },
            dataType: 'json',
            success:function (res) {
                if(res.result == true) {
                    $("#vaildata").html("<font style='color: red'>该imei已存在</font>")
                    $("#sumbit").attr("disabled","disabled");
                }
                else {
                    $("#vaildata").html("<font style='color: green'>该imei可以使用</font>");
                    $("#sumbit").removeAttr("disabled","disabled");
                }
            }
        })
    }

</script>

<!-- Start Plugin Js -->

<!-- Start project main js  and page js -->
<script src="/assets/js/core.js"></script>
<script src="/assets/js/dropify.js"></script>
<script src="/assets/js/dialogs.js"></script>
</body>
</html>
